// CSS HOMEPAGE
.homepage {
  .scslider {
    --height-slider: 100vh;
    --height-wrapper: 100%;
    height: var(--height-slider);
    overflow: hidden;
    position: relative;
    .flickity-viewport {
      height: 100% !important;
    }
    &__wrapper {
      height: var(--height-wrapper);
    }
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: var(--height-wrapper);

      background-color: rgba(0, 0, 0, 0.1);
      z-index: 199;
      pointer-events: none;
    }
    &__item {
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    &__text {
      @include mid();
      z-index: 200;
      .textbox {
        text-align: center;
        .title {
          font-family: er;
          padding: 0px 135px 30px;
          margin-bottom: 30px;
          position: relative;
          &:after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $white-cl;
          }
        }
        .desc {
          font-weight: bold;
          margin-bottom: 60px;
          letter-spacing: -0.3px;
        }
      }
    }
    &__bottom {
      z-index: 200;
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      .container-fluid {
        display: flex;
        justify-content: flex-end;
        position: relative;
      }
      &-mouse {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        .line {
          animation: scrollDown 1.52s infinite alternate;
        }
      }
      &-ctr {
        display: flex;
        .control {
          padding: 8px 20px;
          border: 1px solid $white-cl;
          display: block;
          background-color: transparent;
          @include transition($t);
          &:hover {
            background-color: $blue-cl;
            &.--prev {
              transform: translateX(-5px);
              @include transition($t);
            }
            &.--next {
              transform: translateX(5px);
              @include transition($t);
            }
          }
          &.--prev {
            margin-right: -1px;
          }
        }
      }
    }
  }
  .scproduct {
    padding-top: var(--pd-section);
    &__row {
      &:not(:last-child) {
        margin-bottom: 47px;
      }
      &.--flex {
        display: flex;
        gap: 30px;
      }
    }
    &__col {
      flex: 1;

      &.--ovl-yellow {
        .item {
          .thumb {
            .overlay {
              background-color: $yellow-overlay;
            }
          }
        }
      }
      &.--ovl-blue {
        .item {
          .thumb {
            .overlay {
              background-color: $blue-overlay;
            }
          }
        }
      }
      &.--first {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &.--last {
        position: relative;
        .desc {
          position: absolute;
          bottom: 0;
          right: 0;
          font-family: eri;
          max-width: 430px;
          text-align: right;
          z-index: 2;
          span {
            color: $yellow-light-text-cl;
            text-transform: capitalize;
          }
        }
      }
      .textbox {
        .desc {
          max-width: 385px;
          line-height: 4rem;
        }
      }
      .item {
        .heading {
          margin-bottom: 14px;
        }
        .thumb {
          position: relative;
          &:hover {
            .overlay {
              transform: scale(1);
              @include transition($t);
              opacity: 1;
            }
          }
          .thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: scale(0);
            opacity: 0;
            @include transition($t);
            span,
            a {
              font-family: arial, sans-serif;
              color: $white-text-cl;
              font-size: 1.2rem;
              line-height: 4rem;
            }
            a {
              font-size: 1.1rem;
              font-weight: bold;
              text-transform: uppercase;
              span {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
  @include sm {
    .scslider {
      &__text {
        .textbox {
          .title {
            padding: 0px 45px 30px;
          }
        }
      }
    }
    .scproduct {
      --pd-section: 125px;
      &__row {
        &.--flex {
          display: initial;
        }
      }
      &__col {
        margin-bottom: 47px;
        &.--first {
          .textbox {
            display: none;
          }
        }
        &.--last {
          .desc {
            position: relative;
            max-width: initial;
            text-align: center;
            margin-top: 98px;
          }
        }
      }
    }
  }
  @include xs {
    .scslider {
      --height-slider: initial;
      --height-wrapper: 490px;
      &__wrapper {
      }
      &__text {
        position: relative;
        transform: translate(0, 0);
        top: 0;
        left: 0;
        .textbox {
          .title,
          p {
            color: $black-text-cl;
          }
          .title {
            width: fit-content;
            margin: 50px auto 0;
            &:after {
              background-color: $black-cl;
            }
          }
          .desc {
            max-width: 415px;
            font-size: 1.8rem;
            line-height: 3.7rem;
            letter-spacing: -0.45px;
            margin: 20px auto 60px;
          }
        }
      }
      &__bottom {
        display: none;
      }
    }
    .scproduct {
      &__col {
        .item {
          .heading {
            &.--h8 {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }
  @include xxs {
    .scslider {
      --height-wrapper: 330px;
      &__wrapper {
      }
      &__text {
        .textbox {
          .title {
            padding: 0 20px 20px;
          }
        }
      }
    }
  }
  @include maxW(475px) {
    .scslider {
      &__text {
        .textbox {
          .title {
            font-size: 5.5rem;
            padding: 0 0 20px;
          }
          .desc {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  @include maxW(375px) {
    .scslider {
      &__wrapper {
      }
      &__text {
        .textbox {
          padding: 0 15px;
          .title {
            font-size: 4.5rem;
          }
        }
      }
    }
  }
}
